/.DicomTags.java._trace
/.DicomTags.xtendbin
/.Image.java._trace
/.Image.xtendbin
/.Patient.java._trace
/.Patient.xtendbin
/.Serie.java._trace
/.Serie.xtendbin
/.Study.java._trace
/.Study.xtendbin
/DicomTags.java
/Image.java
/Patient.java
/Serie.java
/Study.java
