/.RPacsIndexer.java._trace
/.RPacsIndexer.xtendbin
/.RPacsPluginSet.java._trace
/.RPacsPluginSet.xtendbin
/.RPacsQuery.java._trace
/.RPacsQuery.xtendbin
/RPacsIndexer.java
/RPacsPluginSet.java
/RPacsQuery.java
